head(lang='en-us')
  meta(charset='utf-8')
  title Gulp Starter
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='type/x-icon' href='/favicon.ico')
  link(rel='apple-touch-icon' href='/apple-touch-icon.png')
  <!-- remove next line if you want to use style injection instead -->
  link(rel='stylesheet' href='/style.css')
  <!-- inject-style src="./dist/style.css" -->
  link(rel='preconnect' href='https://fonts.googleapis.com' crossorigin)
  link(rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap' media='print' onload='this.media="all"')