.panel {
	background-color: $primary;
	width: 100%;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	transform: translateY(calc(-100vh + 40px));
	transition: transform 300ms ease;
	padding: 0.75em;
	h1 {
		font-size: 2em;
		// text-align: center;
	}
	&.active {
		transform: translateX(0);
	}
	@include breakpoint(large) {
		width: 300px;
		height: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: auto;
		transform: translateX(calc(-300px + 40px));
		padding: 2em 2.5em 2em 2em;
	}
}

.panel__logo {
	max-width: 100px;
	margin: 1em auto;
	@include breakpoint(large) {
		max-width: 200px;
	}
}

.panel__control {
	@include button-reset;
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 1.5rem;
	height: 1.5rem;
	background-color: $clickable;
	svg {
		path {
			fill: white;
		}
	}
	svg:first-child {
		display: block;
	}
	svg:last-child {
		display: none;
	}
	&[aria-expanded = 'true'] {
		top: 8px;
		bottom: auto;
		svg:first-child {
			display: none;
		}
		svg:last-child {
			display: block;
		}
	}
	@include breakpoint(large) {
		top: 8px;
		right: 8px;
	}
}