.panel {
	background-color: slateblue;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translateX(calc(-300px + 30px));
	transition: transform 300ms ease;
	&.active {
		transform: translateX(0);
	}
}

.panel__control {
	position: absolute;
	top: 0.333em;
	right: 0.333em;
	width: 1.25em;
	height: 1.25em;
	background-color: red;
}

main {
	padding: 2em 4em;
}

.component {
	// background-color: rebeccapurple;
}
.component__component {
	border: 2px solid rebeccapurple;
	padding: 1em;
}