@import '../library/_colors';

.panel {
	background-color: $primary;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translateX(calc(-300px + 40px));
	transition: transform 300ms ease;
	padding: 2em;
	h1 {
		font-size: 2em;
		// text-align: center;
	}
	&.active {
		transform: translateX(0);
	}
}

.panel__logo {
	max-width: 200px;
	margin: 1em auto;
}

.panel__control {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 1.5em;
	height: 1.5em;
	background-color: $clickable;
	svg {
		path {
			fill: white;
		}
	}
	svg:first-child {
		display: block;
	}
	svg:last-child {
		display: none;
	}
	&[aria-expanded = 'true'] {
		svg:first-child {
			display: none;
		}
		svg:last-child {
			display: block;
		}
	}
}

main {
	padding: 2em 4em;
}

.component {
	// background-color: rebeccapurple;
}
.component__component {
	border: 2px solid $secondary;
	padding: 1em;
}

.panel__nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		// align-items: center;
		li {
			a {
				color: $clickable;
				font-size: 1.5em;
				padding: 0.3em 0.25em 0.4em 0;
				display: block;
			}
		}
	}
}
.home-nav {
	ul {
		list-style: none;
		margin: 0 0 0 60px;
		padding: 0.25em;
		display: flex;
		flex-direction: row;
		background-color: $secondary;
		li {
			a {
				color: $clickable;
				font-size: 1.5em;
				padding: 0.3em 0.5em 0.4em 0.5em;
				display: block;
			}
		}
	}
}

.color-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

.color-list__swatch {
	padding: 0.5em;
	background-color: white;
	border: 1px solid $gray;
	font-size: 0.75em;
	width: 10em;
	margin: 0 1em 1em 0;
	& > div:first-child {
		// height: 4em;
		padding-bottom: 100%;
		// margin-bottom: 0.5em;
		line-height: 1.2;
	}
	& > div {
		padding-top: 0.333em;
	}
}