{% extends "index.njk" %}

{% block left %}
<button type="button" id="slide-button">Slide</button>
<div id="test-slide" style="background-color: red">Slide Me</div>
{% endblock %}

{% block right %}
This is the right side!
{% endblock %}