{%
	set colors = {
		'Red': '#931621',
		'Indigo': '#28464B',
		'Green': '#2C8C99',
		'Dark Green': '#326771',
		'Turquoise': '#42D9C8'
	}
%}

<ul>
{% for color, value in colors %}
	<li>
		<div style="background-color: {{ value }}">
			{{ color }}
			{{ value }}
		</div>
	</li>
{% endfor %}
</ul>