<li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/atoms">Atoms</a>
</li>
<li>
	<a href="/molecules">Molecules</a>
</li>
<li>
	<a href="/organisms">Organisms</a>
</li>
<li>
	<a href="/pages">Pages</a>
</li>