<head>
	<meta charset="utf-8">
	<title>UI Library Starter</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico in the root directory -->

	<meta name="theme-color" content="#fafafa">
	<link href="/styles/library/library.css" rel="stylesheet">
</head>