<section class="panel">
	<header>
		<div class="panel__logo">
			<img src="/logo.svg" alt="Logo">
		</div>
		<h1>UI Library Starter</h1>
		<button class="panel__control" type="button">[]</button>
	</header>
	<nav class="panel__nav">
		<ul>
			{% include "_includes/_navigation.njk" %}
		</ul>
	</nav>
</section>