<section class="panel">
	<header>
		<img src="" alt="Logo">
		<h1>UI Library Starter</h1>
		<button class="panel__control" type="button">[]</button>
	</header>
	<nav>
		<ul>
			{% include "_includes/_navigation.njk" %}
		</ul>
	</nav>
</section>