<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Starter Snowpack App" />
    <title>Starter Snowpack App</title>
  </head>
  <body>
	{% include "_head.njk" %}
    <h1>Welcome to UI Library Kit</h1>
		<a href="/">Home</a>
		<a href="/test">Test</a>
		<main>
			{% block content %}{% endblock %}
		</main>
  </body>
</html>