<!doctype html>
<html lang="en">
	{% include "_includes/_pages-head.njk" %}
	<body>
		<main>
			{% include "_organisms/_first-component.njk" %}
		</main>
		<script src="/js/library.bundle.js"></script>
	</body>
</html>