button.button {
  @include button-reset;
}

a.button {
  text-decoration: none;
}

button.button, a.button {
  background-color: $clickable;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: white;
  border-radius: 0.25em;
  line-height: 1;
}