{% extends "template.njk" %}

{% block body %}
	<h1>Organisms</h1>
	<article class="component">
		<h2>Header, P, and Button</h2>
		<div class="component__component">
			{% include "_organisms/_first-component.njk" %}
		</div>
	</article>
{% endblock %}