<div>
	<h1>My First Component</h2>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, blanditiis soluta et officiis ratione neque perspiciatis provident doloremque quisquam, quam modi cupiditate atque maiores numquam suscipit dolores consectetur, repudiandae eaque?
	</p>
	{% set buttonText = 'First Component Button' %}
	{% include "_atoms/_button.njk" %}
</div>